/\# Tests
/\# Backups
/\# Apoyo
0-Guia_Proyecto_ML.ipynb
~$USDEUR_Price_Estimator.pptx
/src/utils/__pycache__
/notebooks_utils
/src/\# notebooks_utils
EURUSD_Price_Estimator.pptx
src/data/EURUSD-H1-201701_202502.csv
src/data/EURUSD-H1-201701_202502.csv
